.ab-body {
    padding: 0%;
    margin: auto;
}
.ab-section {
    background: linear-gradient(to bottom, #87CEEB, #ffffff);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.back {
    /* font-weight: bolder; */
    color: black;
    width: 5%;
    padding: 1%;
    float: inline-start;
    border-radius: 10px;
}

.back a {
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: bold;
}


h1{
    font-size: 3rem;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ab-des {
    padding-left: 8%;
    padding-right: 15%;
}

.para-int {
    font-size: 1.3em;
    font-style: normal;
    width: 100%;
    text-align: start;
    font-weight:normal;
    
}

.mst {
    font-size: 2em;
    font-style: normal;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 4%;
    position: relative;
    color: darkred;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.ab-logo {
    float: right;
    width: 30%;
}

.wwo-cta {
    display: flex;
    gap:10%;
}


.wwo {
    font-size: 1.3em;
}

ul.a {
    list-style-type: square;
    color: black;
}

.btn-ab-section {
    display: flex;
    gap: 2rem;
}

.Cta {
    font-size: 1.5em;
}

.mb-2-ab {
    font-size: 1em;
}

.teamdetail {
    padding-top: 4em;

}