.dest-body {
    padding: 0%;
    margin: auto;
}

.dest-header {
    text-align: center;
    position: relative;
}

img .dest-header {
    width: 100px;
    height: auto;
    position: static;
}

h2 .title {
    font-size: 3em;
    text-align: center;
}

.section-title {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    font-style: oblique;
    background-image: url("F:\0a projects\Landing-website\travel-adventure-guide\src\assets\mountain.png");
    /* width:100%; */
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    padding-bottom: 3%;
    padding-top: 3%;
}

.back {
    /* font-weight: bolder; */
    color: black;
    width: 5%;
    padding: 1%;
    float: inline-start;
    border-radius: 10px;
}

.back a {
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: bold;
}

p.intro {
    color: rgb(250, 193, 7);
    font-style: normal;
    padding-left: 6%;
    padding-right: 6%;
    text-align: center;
    word-spacing: 1;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1%;
    /* background: linear-gradient(to bottom, #87CEEB, #ffffff); */
}

.inner-card {
    width: 80%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    overflow: hidden;
    /* flex-direction: column; */
    padding: 1%;
    background-color: #d8f5eb;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
    text-align: center;
}

.exp-cate {
    font-size: 1.5em;
    color:black;
}

.categorycard {
    display: flex;
    flex-direction: row;
    gap: 4%;
    border-radius: 10px;
    justify-content: space-around;
    columns: 4;
}

.Mountaintrek {
    background-image: url("F:\0a projects\Landing-website\travel-adventure-guide\src\assets\MountainTrek.jfif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.Beach {
    background-image: url("F:\0a projects\Landing-website\travel-adventure-guide\src\assets\beacheisland.jfif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.City {
    background-image: url("F:\0a projects\Landing-website\travel-adventure-guide\src\assets\cityescape.jfif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.N-W {
    background-image: url("F:\0a projects\Landing-website\travel-adventure-guide\src\assets\naturewildlife.jfif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.h3 {
    font-size: 1em;
    color: white;
    text-shadow: 2px 2px black;
    padding:4%;
}

