.footer {
    background-color: #333;
    color: white;
    padding: 1% 0;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1%;
}
.space-y-2{
    align-items: center;
    padding: 2%;
}

ul,
a {
    text-decoration: none;
    color: white;
}

h3 {
    font-size: large;
}

form {
    display: flex;
    gap: 5px;
}

input .input {
    padding: 2%;
}

.btn {
    background-color: red;
    border: 1px solid red;
    padding: 1%;
}

.text-sm {
    font-size: small;
}